:root {
  --darkestblue: #03045eff;
  --darkerblue: #0077b6ff;
  --middleblue: #00b4d8ff;
  --lightblue: #90e0efff;
  --white: #fff;
  --black: #000;
}

body {
  margin: 0;
  box-sizing: border-box;
  color: var(--black);
}

li,
a {
  text-decoration: none;
  list-style: none;
}

/* __________________________NAV __________________________ */

nav {
  height: 5vh;
  min-height: 50px;
  background-color: var(--darkestblue);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

nav ul {
  display: flex;
  gap: 20px;
}

.darkModeButton, .wackyButton {
  border: 2px solid black;
  height: 20px;
  width: 70px;
  text-align: center;
  line-height: 20px;
}

/* __________________________Global class__________________________ */

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.smallGap {
  gap: 5px;
}

/* __________________________Hero Section__________________________ */

.heroSection {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--lightblue);
}

.heroTitle {
  width: 100%;
  text-align: center;
}

.heroCardSection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}

.heroCard {
  width: 190px;
  background-color: var(--darkerblue);
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 2px solid var(--black);
  border-radius: 20px;
  text-align: center;
}



.heroCard img {
  width: 190px;
}

.heroCard button {
  height: 30px;
  border-radius: 10px;
  border: 2px solid var(--black);
}