:root {
  --gray:#888888;
  --lightgray: #bbbbbb;
  --white: #fff;
  --black: #000;
  --dark: #16205B;
  --lighter: #55BFD7;
  --lightest: #A4E7F8;
}


/* .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

body {
  margin: 0;
  box-sizing: border-box;
  color: var(--black);
  font-family: "Roboto", sans-serif;
}

li,

a {
  text-decoration: none;
  list-style: none;
  color: var(--black);
}

/* __________________________NAV __________________________ */

nav {
  height: 80px;
  min-height: 50px;
  background-color: var(--white);
  border-bottom: 1px solid var(--lighter);
  color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

nav h1 {
  font-size: 113px;
  margin: 0;
  padding: 0;
  line-height: 113px;
}

/* nav ul {
  display: flex;
  gap: 50px;
} */

.darkModeButton, .wackyButton {
  border: 2px solid #55BFD7;
  height: 40px;
  width: 100px;
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  font-size: 15px;
  line-height: 40px;
  margin: 0px 0px 0px 20px;
}

.wackyButton {
  background-color: var(--white);
  color: var(--dark);
}

/* __________________________Global class__________________________ */

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.smallGap {
  gap: 10px;
}

/* __________________________Hero Section__________________________ */

#heroSection {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: var(--white);
}

#heroSection h2 {
  width: 100%;
  text-align: center;
}

#heroDiv {
  max-width: 800px;
  gap: 20px;
  display: flex;
  justify-content: space-evenly;
  align-content: space-evenly;
  border: 1px solid var(--dark);
  border-radius: 8px;
}

#heroImg {
  border-radius: 8px 0px 0px 8px;
  width: 300px;
}

#heroText {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#heroDiv h3, #heroDiv p {
  width: 400px;
}

/* _____________________________Pages___________________________________________________ */

#groupHeaders {
  display: flex;
  background-color: var(--white);
  gap: 2vw;
  justify-content: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  border-bottom: 2px solid var(--lightest);
}

#groupHeaders div {
  min-width: 200px;
  padding: 0px 20px;
  border: 1px solid var(--dark);
  border-bottom: none;
  border-radius: 8px 8px 0px 0px;
  background-color: var(--lightest);
  color: var(--dark);
  line-height: 20px;
  margin: 0;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  
}

#groupHeaders img {
  width: 20px;
  height: 20px;
  
}

#groupHeaders div {
  width: 240px;
}



#displayContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 50vh;
  padding: 50px;
  background-color: var(--white);
  box-shadow: 0 5px 15px rgba(72, 72, 72, 0.8),
              0 15px 15px rgba(86, 86, 86, 0.2);
}

#displayContent img {
  width: 100%;
  box-shadow: 0 5px 10px rgba(72, 72, 72, 0.1),
  0 5px 10px rgba(86, 86, 86, 0.1);
}

.divElement {
  border: 1px solid var(--lightest);
  text-align: center;
  margin: 15px;
  height: 600px;
  width: 400px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: "Kanit";

}

.displayContentButtons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 0px;
}

.divElement a {
  padding: 10px;
  font-size: 125%;
  margin: 0px 20px;
  color: var(--dark);
  border-radius: 10px;
  background-color: var(--white);
  border: 1px solid var(--dark);
  box-shadow: 0 3px 5px rgba(72, 72, 72, 0.2),
              0 3px 5px rgba(86, 86, 86, 0.1);

  cursor: pointer;
}

.divElement h3 {
  color: var(--black);
  font-size: 200%;
}


.flipArrow {
  animation-name: flipArrow;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}

.flipArrowBack {
  animation-name: flipArrowBack;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}

@media (max-width: 890px) {
  #heroSection {
    min-height: 450px;
  }
  #heroDiv {
    max-width: 320px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    font-size: 75%;
  }
  #heroImg {
    width: 150px;
  }
  #heroDiv h3, #heroDiv p {
    width: 300px;
  }

  nav {
    flex-direction: column;
    height: 160px;
    padding-bottom: 20px;
  }
  #groupHeaders div {
    width: 100%;
    border-bottom: 1px solid black;
    border-radius: 0;
  }
  #groupHeaders {
    gap: 0;
  }
  .divElement a {
    font-size: 100%;
    padding: 15px;
  }
  
}





@keyframes flipArrow {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(180deg)
  }
}

@keyframes flipArrowBack {
  from {
    transform: rotate(180deg);
  } to {
    transform: rotate(0deg)
  }
}