:root {
  --gray:#888888;
  --lightgray: #bbbbbb;
  --white: #fff;
  --black: #000;
}


/* .inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

body {
  margin: 0;
  box-sizing: border-box;
  color: var(--black);
  font-family: "Roboto", sans-serif;
}

li,
a {
  text-decoration: none;
  list-style: none;
}

/* __________________________NAV __________________________ */

nav {
  height: 5vh;
  min-height: 50px;
  background-color: var(--darkerblue);
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav a 

.darkModeButton, .wackyButton {
  border: 2px solid black;
  height: 20px;
  width: 70px;
  text-align: center;
  line-height: 20px;
}

.wackyButton {
  background-color: var(--white);
}

/* __________________________Global class__________________________ */

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.smallGap {
  gap: 10px;
}

/* __________________________Hero Section__________________________ */

.heroSection {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--white);
}

/* _____________________________Pages___________________________________________________ */

#groupHeaders h2 {
  width: 33%;
  border: 2px solid var(--gray);
  line-height: 20px;
  padding: 10px;
  margin: 0;
}

#groupHeaders {
  display: flex;
}

#displayContent {
  min-height: 50vh;
}

#displayContent img {
  height: 10vh;
}

.divElement {
  border-bottom: 1px solid var(--lightgray);
  padding: 10px;
}

.divElement button {
  padding: 5px;
  font-size: 150%;
}