:root {
  --darkest-blue: #03045eff;
  --darker-blue: #0077b6ff;
  --middle-blue: #00b4d8ff;
  --lightblue: #90e0efff;
  --white: #fff;
  --black: #000;
}

body {
  margin: 0;
  box-sizing: border-box;
  color: var(--black);
}

li,
a {
  text-decoration: none;
  list-style: none;
}

nav {
  height: 5vh;
  min-height: 50px;
  background-color: var(--darker-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* __________________________Global class__________________________ */

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.smallGap {
  gap: 5px;
}

/* __________________________Hero Section__________________________ */

.heroSection {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 20px;
}
